<!DOCTYPE html>
<html>
<head>
    <title>ChatGPT Role-playing</title>
    {% load static %}
</head>
<body>
    <h1>ChatGPT Role-playing</h1>
    <div id="chatbox">
        <div id="messages"></div>
        <form id="chat-form">
            {% csrf_token %}
            <input type="text" id="message-input" autocomplete="off" placeholder="Type your message..." />
            <button type="submit">Send</button>
        </form>
        <button id="voice-input-btn">Start Voice Input</button>
        <div id="personalist">
            {% for persona in personalist %}
                <hr>
                <p>{{ persona.id }}</p>
                <p>{{ persona.age }}</p>
                <p>{{ persona.sex }}</p>
                <p>{{ persona.job }}</p>
                <p>{{ persona.grade }}</p>
                <p>{{ persona.situation }}</p>
                <p>{{ persona.subject }}</p>
                <br>
                {% for chat in chatlist %}
                    {% if chat.persona_id == persona.id %}
                    <p>{{ chat.persona_id }}</p>
                    <p>{{ chat.question }}</p>
                    <p>{{ chat.answer }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

         <!-- hidden input 추가 -->
         <input type="hidden" id="age-input" name="age"  value="{{ age }}" />
         <input type="hidden" id="sex-input" name="sex"  value="{{ sex }}" />
         <input type="hidden" id="job-input" name="job"  value="{{ job }}" />
         <input type="hidden" id="grade-input" name="grade"  value="{{ grade }}" />
         <input type="hidden" id="situation-input" name="situation"  value="{{ situation }}" />
         <input type="hidden" id="subject-input" name="subject"  value="{{ subject }}" />
         <input type="hidden" id="persona_id-input" name="persona_id"  value="{{ persona_id }}" />
    </div>
    <audio id="audio-player"></audio>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Prevent CSRF token issue
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{ csrf_token }}' }
        });
        $(document).ready(function() {
            var age = $('#age-input').val();
            var sex = $('#sex-input').val();
            var job = $('#job-input').val();
            var grade = $('#grade-input').val();
            var situation = $('#situation-input').val();
            var subject = $('#subject-input').val();
            var persona_id = $('#persona_id-input').val();
            console.log(age);
            $('#chat-form').submit(function(e) {
                e.preventDefault();
                var message = $('#message-input').val();
                if (message.trim() !== '') {
                    $('#messages').append('<p>You: ' + message + '</p>');
                    $.ajax({
                        type: 'POST',
                        url: '/chat/',
                        data: JSON.stringify({ message: message, age:age, sex:sex, job:job, grade:grade, situation:situation, subject:subject, persona_id:persona_id }),
                        contentType: 'application/json',
                        success: function(data) {
                            $('#messages').append('<p>hint-' + data.prediction + '</p>');
                            $('#messages').append('<p>ChatGPT: ' + data.response + '</p>');
                            $('#message-input').val('');

                            // 음성재생
                            var audioPlayer = document.getElementById('audio-player');
                            var mediaUrl = '{% get_media_prefix %}';
                            console.log(mediaUrl)
                            audioPlayer.src = mediaUrl+'tts.mp3';
                            audioPlayer.load();  // 음성 파일 로드
                            
                            // 사용자 인터랙션 이후 음성 재생
                            audioPlayer.onloadedmetadata = function() {
                                audioPlayer.play();
                            };
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ': ' + xhr.responseText);
                        }
                    });
                }
            });

            // 음성 인식 버튼 클릭 이벤트 처리
            $('#voice-input-btn').click(function() {
                startVoiceRecognition();
            });

            // 음성 인식 시작
            function startVoiceRecognition() {
                var recognition = new webkitSpeechRecognition();
                recognition.continuous = false;
                recognition.lang = 'ko-KR';
                recognition.interimResults = false;
                recognition.onresult = function(event) {
                    var result = event.results[0][0].transcript;
                    $('#message-input').val(result);
                };
                recognition.start();
            }

        });
    </script>
</body>
</html>